img{
	max-width: 100%;
}

#facebook-wrapper{
	font-family: helvetica, arial, sans-serif;

}

#header{
    background-color: #3B5998;
    overflow: hidden;
    width: 100%;
    height: 43px;
}

#header-inner{
	width: 900px;
	margin: 10px auto;
}

#left-header{

}

#fb-logo{
	height: 24px;
	width: 24px;
	background-image:  url('fb_sprite.png');
	background-size: 26px 905px;
    background-position: 0 -163px;
}

#fb-logo, #fb-search{
	float:  left;
	margin-left: 10px;
}

#fb-search input{
	border-radius: 2px;
    border: none;
    width: 400px;
    height: 22px;
}

#right-header{
	float: right;
    font-size: 12px;
    font-weight: bold;
    color: white;
    line-height: 25px;
}

#right-header div{
	float: left;
}

#right-header a {
    color: white;
    text-decoration: none;
}

#small-avatar{
	height: 24px;
	width: 24px;
}

#avatar-name-top, #home-link {
    padding-left: 15px;
}

#home-link {
    padding-right: 15px;
}

/* This is a catch all for the 3 social icon divs */
.social-icon{
	height: 24px;
	width: 24px;
	background-image:  url('fb_sprite.png');
	background-size: 26px 905px;
	margin-left: 5px;

}

/* specific to friends div */
.friends{
	background-position: 0 -188px;
}

/* specific to messages div */
.messages{
	background-position: 0 -338px;
}

/* specific to notifcations div */
.notifications{
	background-position: 0 -238px;

}

.lock{
	background-position: 0 -859px;
	height: 16px;
	margin-left:  10px;
}

.down-arrow{
	background-position: 0 -825px;
	height: 16px;

}

.spacer{
	line-height: 24px;
	margin: 0 10px;
}

#cover-photo-wrapper{
	max-width: 900px;
	margin: auto;
	width: 100%;
}

#big-photo{
	max-height: 350px;
	overflow: hidden;
}

#big-photo img{

}

#big-avatar{
	display: inline-block;
}

#avatar-name{
	float: left;
	color: white;
	font-size: 24px;
}

#cover-buttons{
	float: right;
}

#cover-buttons button{
	font-weight: bold;
	font-size: 12px;
	color: #4B4F56;
	background-color: #F6F7F9;
	border: 1px solid #4B4F56;
	border-radius: 2px;
	padding: 0 10px;
	line-height: 26px;
}

#cover-menu{
	clear: both;
}

.cover-menu-item{
	float:  left;
	list-style-type: none;
	padding: 10px;
	margin-top:  30px;
	background-color: white;
}

#cover-photo-right{
	display: inline-block;
	width: 80%;
}

#cover-photo-lower{
	margin-top: -130px;
}