img{
	max-width: 100%;
}

body{
	background-color: #E9EBEE;

}

#facebook-wrapper{
	font-family: helvetica, arial, sans-serif;

}

#header{
    background-color: #3B5998;
    overflow: hidden;
    width: 100%;
    height: 43px;
}

#header-inner{
	width: 900px;
	margin: 10px auto;
}

#left-header{

}

#fb-logo{
	height: 24px;
	width: 24px;
	background-image:  url('fb_sprite.png');
	background-size: 26px 905px;
    background-position: 0 -163px;
}

#fb-logo, #fb-search{
	float:  left;
	margin-left: 10px;
}

#fb-search input{
	border-radius: 2px;
    border: none;
    width: 400px;
    height: 22px;
}

#right-header{
	float: right;
    font-size: 12px;
    font-weight: bold;
    color: white;
    line-height: 25px;
}

#right-header div{
	float: left;
}

#right-header a {
    color: white;
    text-decoration: none;
}

#small-avatar{
	height: 24px;
	width: 24px;
}

#avatar-name-top, #home-link {
    padding-left: 15px;
}

#home-link {
    padding-right: 15px;
}

/* This is a catch all for the 3 social icon divs */
.social-icon{
	height: 24px;
	width: 24px;
	background-image:  url('fb_sprite.png');
	background-size: 26px 905px;
	margin-left: 5px;

}

/* specific to friends div */
.friends{
	background-position: 0 -188px;
}

/* specific to messages div */
.messages{
	background-position: 0 -338px;
}

/* specific to notifcations div */
.notifications{
	background-position: 0 -238px;

}

.lock{
	background-position: 0 -859px;
	height: 16px;
	margin-left:  10px;
}

.down-arrow{
	background-position: 0 -825px;
	height: 16px;

}

.spacer{
	line-height: 24px;
	margin: 0 10px;
	color: black;
	font-size: 20px;
	font-weight: 100;
}


/* COVER NAME MENU WRAPPER */

#cover-photo-wrapper{
	max-width: 900px;
	margin: auto;
	width: 100%;
}

/* COVER PHOTO ONLY */

#big-photo{
	max-height: 350px;
	overflow: hidden;
	position: relative;
}


/* AVATAR, MENU, BUTTONS */

#cover-photo-lower{
	position: absolute;
	top: 260px;
	width: 900px;
}

#big-avatar{
	display: inline-block;
	width: 160px;
    height: 160px;
    padding-left: 10px;
}

#cover-photo-right{
	width: 725px;
	display: inline-block;
	vertical-align: top;
    margin-top: 60px;
}

#avatar-name{
	color: white;
	font-size: 24px;
	width: 200px;
	float: left;

}

#cover-buttons{
	width: 226px;
	float: right;
	padding-right: 10px;

}

#cover-buttons button{
	font-weight: bold;
	font-size: 12px;
	color: #4B4F56;
	background-color: #F6F7F9;
	border: 1px solid #4B4F56;
	border-radius: 2px;
	padding: 0 10px;
	line-height: 26px;
}

#cover-menu{
	width: 725px;
	height: 35px;
	background-color: white;
	margin-top: -30px;
    padding-left: 173px;
    border: 1px solid #E9EBEE;

}

.cover-menu-item{
	list-style-type: none;
	padding: 10px;
	float: left;
	border-left: 1px solid #E9EBEE;
	color: #3B5998;
	font-weight: bold;
}

#body-content{
	width: 900px;
	height: 200px;
	background-color: white;
	margin: auto;
    border: 1px solid #E9EBEE;

}
